.dynamicLabel
{
    /*
    font-size: x-small; 
    font-family: Verdana;  
    */
    
    font-size: 10px; 
    font-family: Verdana;
    padding-bottom: 4px;
    padding-left: 15px;        
}

.dynamicValue
{
    font-size: 10px; 
    font-family: Verdana; 
    font-weight: bold;
    text-align: right;
}

.VehicleFileChecks
{
    font-size: x-small; 
    font-family: Verdana; 
    font-weight: normal;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.dynamicNotFoundLabel
{
    font-style: italic;
    font-size: x-small; 
    font-family: Verdana;   
}

.dynamicValueLeft
{
    font-size: x-small; 
    font-family: Verdana; 
    font-weight: bold;
    text-align: left;
}

.dynamicPictureBig
{
    margin: 2px 2px 0 0;
    padding: 2px 2px 2px 0;
}

/* new for trucks */

table 
{
	border-spacing: 0px;
}

#tyreTableHeader {
    border-spacing: 2px 0;
}

th {
    font-family: Verdana;
    font-size: 12px;
    background-color: #eeeded;
    height: 25px;
    margin-top: 0px;
    text-align: left;
    padding-left: 15px;
}

.tableHeader{
    font-family: Verdana;
    font-size: 12px;
    background-color: #eeeded;
    height: 25px;
    margin-top: 0px;
    text-align: left;
    padding-left: 0px;
}

#tyreTruckTable {
    padding-bottom: 10px;
}

#vehicleTitle {
    margin: 0;
}

.titleHeader {
    width: 796px;
    height: 43px;
    color:#ffffff;
	font-weight:bold; 
    text-transform:uppercase;
    font-size: 16px;
    font-family: arial,tahoma,verdana,sans-serif;
    border-color:#d0d0d0;
    background-image: url(https://www4.macadam.eu/Areas/Manager/Content/Images/titleTrucksOrange.png);
    padding-left: 15px;
    margin-bottom: 0px;
}
 
#generalPictures {
    padding: 15px 0 10px 5px;
}

.dynamicPicture {
    padding: 0 5px 5px 0;
    width: 154px;
}

/* DAMAGES */

.dynamicLabelTop
{
    font-size: x-small; 
    font-family: Verdana;        
    vertical-align: middle;
}

.dynamicPrice
{
    font-size: x-small; 
    font-family: Verdana;        
    vertical-align: middle;
    text-align: right;
}

.dynamicDamageHeaderLabel
{
    font-size: x-small; 
    font-family: Verdana;        
    vertical-align: middle;
    font-weight: bold;
}

.dynamicDamageHeaderPrice
{
    font-size: x-small; 
    font-family: Verdana;        
    vertical-align: middle;
    text-align: right;
    font-weight: bold;
}

.dynamicLabelForDamageDetails
{
    font-size: x-small; 
    font-family: Verdana;
    width: 170px;
    font-style: italic;
}

.dynamicValueForDamageDetails
{
    font-size: x-small; 
    font-family: Verdana; 
    font-weight: bold;
    text-align: left;   
    width: 100px;
    font-style: italic;
}

.header
{
    height: 18px;
    vertical-align: middle;
    background-color: #DBDBDB;
}

.darkHeader
{
    height: 18px;
    vertical-align: middle;
    background-color: #999999;
}

.damageNumberValue
{
    font-size: x-small; 
    font-family: Verdana; 
    font-weight: bold;
    text-align: left;   
    font-style: italic;
}

.damageBulletOrange
{
    border-top-width: 2px;   
    border-top-style: solid;    
    border-top-color: #ff8500; 
}

table.dynamicReportDamagesTable {
	border-width: 2px;
	border-style: solid;
	border-color: white;
	border-collapse: collapse;
}

table.dynamicReportDamagesTable td {
	border-width: 2px;
	padding: 0px;
	border-style: solid;
	border-color: white;
}

table.dynamicReportDamagesTable tr.dynamicReportDamageGroupRow {
	border-width: 2px;
	padding: 0px;
	border-style: solid;
	border-color: #C1D4C4;
	background-color:  #C1D4C4;
	height: 20px;
}

table.dynamicReportDamagesTable td.dynamicReportDamageGroupCell {
	border-width: 2px;
	padding: 0px;
	border-style: solid;
	border-color: #C1D4C4;
	background-color:  #C1D4C4;
}

table.dynamicReportDamagesTable td.damageBulletGreen {	
    border-top-width: 2px;   
    border-top-style: solid;    
    border-top-color: #1b6648; 
}

table.dynamicReportDamagesTable td.dynamicReportDamageGroupHeaderCell {
	border-width: 2px;
	padding: 0px;
	border-style: solid;
	border-color: #C1D4C4;
    font-size: x-small; 
    font-family: Verdana;        
    vertical-align: middle;
    font-weight: bold;
	background-color:  #C1D4C4;
}

table.dynamicReportDamagesTable td.dynamicReportDamageGroupPriceCell {
	border-width: 2px;
	padding: 0px;
	border-style: solid;
	border-right-color: white;
	border-left-color: white;
	border-top-color: #C1D4C4;
	border-bottom-color: #C1D4C4;
	background-color:  #C1D4C4;
    font-size: x-small; 
    font-family: Verdana;        
    vertical-align: middle;
    text-align: right;
    font-weight: bold;
}

/* new for trucks */

.dynamicLabelTable
{
    font-size: 10px; 
    font-family: Verdana;
    padding-bottom: 2px;
    padding-left: 0px;
    float: left;     
}

table 
{
	border-spacing: 0px;
}

th {
    font-family: Verdana;
    font-size: 12px;
    background-color: #eeeded;
    height: 25px;
    margin-top: 0px;
    text-align: left;
    padding-left: 15px;
}

.tableHeader{
    font-family: Verdana;
    font-size: 12px;
    background-color: #eeeded;
    height: 25px;
    margin-top: 0px;
    text-align: left;
    padding-left: 0px;
    font-weight: bold;
}

#tyreTruckTable {
    padding-bottom: 10px;
}

.damageHeaderTrucks {
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    background-color: #eeeded;
    height: 15px;
    margin-top: 0px;
    text-align: left;
    padding-left: 15px;
}

#vehicleTitle {
    margin: 0;
}

.titleHeader {
    width: 796px;
    height: 43px;
    color:#ffffff;
	font-weight:bold; 
    text-transform:uppercase;
    font-size: 16px;
    font-family: arial,tahoma,verdana,sans-serif;
    border-color:#d0d0d0;
    background-image: url(https://www4.macadam.eu/Areas/Manager/Content/Images/titleTrucksOrange.png);
    padding-left: 15px;
    margin-bottom: 0px;
}
 
#generalPictures {
    padding: 15px 0 10px 5px;
}

.dynamicPicture {
    padding: 0 5px 5px 0;
    width: 154px;
}